USE [master]
GO
/****** Object:  Database [aeroflot]    Script Date: 28.03.2023 0:37:09 ******/
CREATE DATABASE [aeroflot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'aeroflot', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\aeroflot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'aeroflot_log', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\aeroflot_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [aeroflot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [aeroflot]
GO
/****** Object:  Table [dbo].[Aeroflot]    Script Date: 28.03.2023 0:37:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aeroflot](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[flight number] [int] NOT NULL,
	[destination] [nvarchar](25) NOT NULL,
	[departure time] [nvarchar](50) NOT NULL,
	[Arrival time] [nvarchar](50) NOT NULL,
	[number of free
places] [smallint] NULL,
	[aircraft type] [nvarchar](50) NOT NULL,
	[total seats] [int] NOT NULL,
 CONSTRAINT [PK_Aeroflot] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Aeroflot] ON 

INSERT [dbo].[Aeroflot] ([ID], [flight number], [destination], [departure time], [Arrival time], [number of free
places], [aircraft type], [total seats]) VALUES (1, 1, N'Россия', N'3:50', N'11:50', 5, N'A321', 50)
INSERT [dbo].[Aeroflot] ([ID], [flight number], [destination], [departure time], [Arrival time], [number of free
places], [aircraft type], [total seats]) VALUES (2, 4, N'Казахстан', N'9:50', N'11:30', 5, N'A320', 50)
SET IDENTITY_INSERT [dbo].[Aeroflot] OFF
GO
USE [master]
GO
